.container {
  width: 100%;
  min-height: 100vh;
  background-color: #000;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 120px;
}

.title {
  text-align: center;
  color: #fff;
  font-size: 28px;
  margin-bottom: 10px;
}

.card{
  display: flex;
  flex-direction: column;
  width: 350px;
  gap: 15px;
  padding: 40px;
  background-color : #fff;
  border-radius: 12px;
}

.subtitle {
  font-weight: 600;
  color: #555;
  font-size: 14px;
}

input{
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 14px;
  transition: 0.2s;
}


.btn {
  background: #61dafb;
  color: #fff;
  border: none;
  padding: 12px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
  transition: 0.3s
}

.btn:hover {
  background: #4bb6d6;
  transform: translateY(-2px);
}

.result {
  text-align: center;
  color: #fff;
  font-weight: bold;
  font-size: 18px;
  margin-top: 15px;
}